<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @master.name %>
</p>

<p>
  <strong>Town:</strong>
  <%= @master.town %>
</p>

<%= link_to 'Edit', edit_master_path(@master) %> |
<%= link_to 'Back', masters_path %> |
<%= link_to 'New Pokemon', new_pokemon_path %>
